/* Til styling & positionering */

.container img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.centered {
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
}

h1 {
  font-family: "Josefin Sans";
  font-size: 77px;
}

a {
  text-decoration: none;
  object-fit: cover;
}

.centered h2 {
  font-family: "Montserrat";
  font-weight: 100;
}

/* Til grids & kolonner */

.col_1-1 p {
  color: #000000;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: left;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px;
}

.col_1-2 img {
  display: grid;
  margin: auto;
}

/* Til media-queries */

@media (max-width: 800px) {
  .container {
    color: #ffffff;
  }

  .centered {
    position: absolute;
    transform: translate(-50%, -330%);
  }

  .container img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  h1 {
    font-family: "Josefin Sans";
    font-size: 30px;
  }

  h2 {
    font-family: "Montserrat";
    font-size: 20px;
  }

  br hr {
    display: none;
  }

  .col_1-1 p {
    color: #000000;
    font-family: "Montserrat";
    font-size: 14px;
    text-align: center;
  }

  .grid_1-1,
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .col_1-2 img {
    display: grid;
    margin: auto;
    width: 20%;
  }

  #btn {
    display: grid;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #btn button {
    font-size: 15px;
    color: #000000;
    background-color: #e6e6e6;
    border: 1px gray solid;
    width: 140px;
    border-radius: 20px;
  }

  #btn button:hover {
    color: #686868;
  }
}

/* Social medie ikoner og responsivt layout til footeren */
.mail-icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin: 20px;
  gap: 10px;
}
