.container img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.centered {
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-100%) translateY(-230%);
}

h1 {
  font-family: "Josefin Sans";
  font-size: 77px;
}

a {
  text-decoration: none;
  object-fit: cover;
}

.centered h2 {
  font-family: "Montserrat";
  font-weight: 100;
}

.col_1-1 p {
  color: #000000;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
}

.grid_1-1 {
  display: grid;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  padding: 6px;
}

#btn {
  display: grid;
  justify-content: center;
}

#btn button {
  color: white;
  background-color: #aeaeae;
  border: 2px black solid;
}

@media (max-width: 800px) {
  .container {
    color: #ffffff;
  }

  .centered {
    position: absolute;
    transform: translate(-50%, -180%);
  }

  .container img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h1 {
    font-family: "Josefin Sans";
    font-size: 24px;
  }

  h2 {
    font-family: "Montserrat";
    font-size: 15px;
  }

  .col_1-1 p {
    color: #000000;
    font-family: "Montserrat";
    font-size: 18px;
    text-align: center;
  }

  .grid_1-1,
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 30px;
    margin-right: 30px;
  }
}
