/* Til styling & positionering */

main {
  background-color: var(--gray);
}

h1 {
  font-family: "Josefin Sans";
  color: #000000;
  text-align: center;
  font-size: 60px;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 40px;
}

h2 {
  font-family: "Montserrat";
  color: #000000;
  text-align: center;
  font-size: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

h3 {
  font-family: "Montserrat";
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  margin-left: 40px;
  margin-right: 40px;
}

.grid_2-1 h2,
.grid_2-2 h2 {
  color: #000000;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.hover-image {
  display: grid;
  margin: auto;
  border: 2px #000000 dotted;
  object-fit: cover;
  width: 80%;
  height: 300px;
  border-radius: 5%;
}

.hover-image:hover {
  width: 300px;
  border: 2px #000000 dotted;
  background-color: #ffffff;
  opacity: 0.5;
}

/* Til grids & kolonner */

.grid_2-1,
.grid_2-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 40px;
  margin-right: 40px;
}

.col_2-1,
.col_2-2 {
  margin-top: 20px;
}

/* Til media-queries */

@media (max-width: 800px) {
  .centered2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -300%);
  }

  .container2 img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  br hr {
    display: none;
  }

  a {
    display: grid;
    font-size: 15px;
    font-family: "Montserrat";
    text-align: center;
  }

  h1 {
    font-family: "Josefin Sans";
    font-size: 24px;
  }

  .centered2 h2 {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 100;
  }
  .grid_2-1,
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 3px;
    margin: 30px;
    gap: 5px;
  }

  h2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  h2,
  .grid_2-1 h2,
  .grid_2-2 h2 {
    font-family: "Montserrat";
    font-size: 18px;
    text-align: center;
  }

  img {
    display: grid;
    margin: auto;
  }

  .col_2-1 p,
  .col_2-2 p {
    color: #000000;
    font-family: "Montserrat";
    font-size: 15px;
    text-align: center;
  }
}
