.container2 {
  text-align: center;
  color: #ffffff;
}

.container2 img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.centered2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -180%);
}

h1 {
  font-family: "Josefin Sans";
  font-weight: 600;
  font-size: 80px;
}

h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

em {
  font-family: "Montserrat";
  font-size: 15px;
  text-align: left;
}

.col_2-1 p,
.col_2-2 p,
.col_2-3 p {
  color: #000000;
  font-family: "Montserrat";
  font-size: 15px;
  text-align: left;
}

.col_2-1 img,
.col_2-2 img,
.col_2-3 img {
  border: 2px black solid;
  object-fit: cover;
  max-width: 100%;
  height: 300px;
}

.col_2-1 a,
.col_2-2 a,
.col_2-3 a {
  font-size: 12px;
}

.grid_2-1,
.grid_2-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
}

.grid_2-1,
.grid_2-2 {
  gap: 80px;
}

.grid_2-2 .col_2-1 a {
  font-size: 15px;
}
